{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Articles in category's table : </h1>
    {% for article in category | reverse %}
        {% if loop.index < 10 %}
            <div>
                <h2>{{ article.id }} - Category : {{ article.title }}</h2>
                <p>{{ article.content }}</p>
            </div>
        {% endif %}
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>
{% endblock %}