{% extends 'base.html.twig' %}

{% block title %}Hello TagController!{% endblock %}

{% block body %}

<div>
    <h1>Articles related to : {{ tag.name }}</h1>
    <ul>
        {% for article in tag.articles %}
            <li>{{ article.title }} </li>
        {% else %}
            <li>No article for this tag</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
